<a href="https://colab.research.google.com/github/fahimabrar/advanced_python/blob/main/List_Comprehension_and_Generetor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9 ,10]

In [2]:
type(nums)

list

In [3]:
square_list = []

for n in nums:
  square_list.append(n*n)
  
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## **List Comprehension**

In [5]:
square_list = [n*n for n in nums]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
square_list = map(lambda n: n*n, nums)

In [23]:
next(square_list)
next(square_list)
next(square_list)
next(square_list)
next(square_list)
next(square_list)
next(square_list)

49

In [24]:
print(list(square_list))

[64, 81, 100]

In [31]:
#printing the even numbers from the list
#using list comprehension
[n for n in nums if n%2==0]

[2, 4, 6, 8, 10]

In [32]:
my_list = filter(lambda n: n%2 ==0, nums)

In [34]:
my_list

In [35]:
print(list(my_list))

[2, 4, 6, 8, 10]

In [36]:
for letter in 'abcd':
  print(letter)

a
b
c
d

In [40]:
for letter in 'ab':
  for num in range(1,3):
    print(letter, num)

a 1
a 2
b 1
b 2

In [43]:
#list comprehension for nested for loop
[(letter, num) for letter in 'ab' for num in range(1, 3)]

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

In [44]:
[n for n in nums for n in nums]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

# **Generator**

In [45]:
def gen_function(nums):
  for n in nums:
    yield n*n

In [47]:
generator = gen_function(nums)

In [48]:
generator

In [49]:
print(list(generator))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]